{% extends 'bootstrap/base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}
{% block navbar%}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
{% endblock %}