{% macro display_pitches(pitches) %}
    {% for pitch in pitches %}
    <div class="col-sm-12 col-md-6 p-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title h4">{{ pitch.title }}</div>
                    <div class="card-subtitle h6 text-primary">{{pitch.user.username}}</div>
                    <div class="card-text">
                        {{pitch.content}}
                    </div>
                    <a href="{{ url_for('main.pitch', id=pitch.id ) }}" class="btn btn-sm btn-primary w-100">View Pitch</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro display_comments(comments) %}
    {% for comment in comments %}
    <div class="col-sm-12 p-1">
            <div class="card border-bottom p-0">
                <div class="card-body py-0">
                    <div class="card-text">
                        <span class="font-weight-bold">@{{comment.user.username}} - </span><span class="font-italic">
                            {{comment.comment}}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}