<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
      <li class="nav-item">
          <a href="/" class="nav-link">HOME</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
          <a href="{{url_for('main.new_pitch')}}" class="nav-link">NEW PITCH</a>
      </li>
      {% endif %}
  </ul>
  <ul class="nav navbar-right">
      
      {% if current_user.is_authenticated %}
      <li class="nav-item">
          <a href="{{url_for('main.profile')}}" class="nav-link p-2 border rounded ">Profile</a>
      </li>
      <li class="nav-item">
          <a href="{{url_for('auth.logout')}}" class="nav-link p-2 border rounded mx-1">Logout
          </a>
      </li>
      {% else %}
      <li class="nav-item">
              <a href="{{url_for('auth.login')}}" class="nav-link p-2 border rounded ">Login</a>
      </li>
      {% endif %}
  </ul>
</nav>